//color define
//main color
$bg: #2e3440;
$fg: #d8dee9;
$item-bg: rgba(10, 10, 10, 0.4);

//16color from nord xresources
$black-darker: #1e222a;
$black: #3b4252;
$black-light: #434c5e;
$black-lighter: #4c566a;
$red: #bf616a;
$orange: #d08770;
$green: #a3be8c;
$blue: #81a1c1;
$yellow: #ebcb8b;
$purple: #b48ead;
$cyan: #88c0d0;
$cyan-light: #8fbcbb;
$white: #e5e9f0;
$white-light: #eceff4;

// unset all gtk theming & define font used whole
* {
  all: unset;
  font-family: "Iosevka Nerd Font";
}

// set mainwindow text color

window {
  color: $fg;
}

// main container
.main-container {
  background: none;
}

// searchapp widget
.search-win {
  background: $bg;
  border: 3px solid $blue;
}

.searchapps-bar {
  color: $cyan;
  font-size: 1.5rem;
  margin: -3px;
  padding: 1em;
  background-color: $black-darker;
  border: 3px solid $blue;
}

.search-bar {
  color: $cyan;
  // width: 100%;
  min-height: 3em;
  min-width: 10em;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 1rem;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 3rem;
  color: $cyan;
}
.item {
  padding: 0.8rem;
  background: $item-bg;
}

// powermenu widget

.power-menu {
  background: $bg;
  border: 3px solid $blue;
  padding: 2em 1em;
  font-size: 1rem;
}

.power-button {
  border-radius: 50%;
  padding: 1em;
  color: $fg;
  background-color: $black-light;
}

.power-button:hover{
    background-color: $black-lighter;
}

.power-button-off {
  border-radius: 50%;
  padding: 1em;
  color: $fg;
  background-color: $red;
}

.power-button-off:hover {
  background-color: $orange;
}
